body{
    background-color: #d3f5f5;
    font-size: 1.5;
    font-style: verdana;
}


.cabecalho{
    font-size: 2em;
    background-color: #11036b;
    text-align: center;
    color: #b3f2e0;
    
}



